{% extends 'store/main.html' %}
{% block content %} 
<h1>{{ product.name }}</h1>
 <div class="col-lg-4 block" >
    <img class="thumbnail" src="{{ product.imageURL }}" alt="thumbnail" />
    <div class="box-element product">
	      <hr />
      {% if request.user.is_authenticated %}
        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
      {% else %}
      <a href="{% url 'login_user' %}" style="text-decoration:none;">
        <button type="submit" class="btn btn-outline-secondary add-btn">Add to Cart</button>
      </a>
      {% endif %}
      <h4 style="display: inline-block; float: right">${{ product.price|floatformat:2}}</h4>
    </div>
  </div>
{% endblock %}